@import '/src/styles/variables';

.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin: 8px 0;
    font-weight: $base-header-weight;
    font-size: $base-header-size;
    color: $base-header-color;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__item {
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
  }
}
