.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    margin: 0 10px;
}