@import '/src/styles/variables';

.aside {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: $base-sidebar-background;

  &-header {
    text-align: center;
  }
}

p {
  margin: 0;
}

.pill {
  padding: 10px;
}
