@import "/src/styles/variables";

.aside {
  display: flex;
  flex-direction: column;
  padding: 5px;
  // background-color: $base-sidebar-background;
  border: 0.5px solid;

  border-radius: 20px;
    box-shadow: 5px 5px #919191;

  &-header {
    text-align: center;
  }
}

p {
  margin: 0;
}

.chips {
  margin: 0 auto;

  &__pill {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px #919191;
  }
}
