.content {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    &__blog {
        margin-right: 10px;
        flex-grow: 8;
        border: 1px solid gray;
    }
    &__aside {
        background-color: rgb(235, 227, 227);
        flex-grow: 1;
        border: 1px solid gray;
    }
}