<div data-target="#modal">
    <form class="modal-body" [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="postForm__item">
            <input formControlName="author" class="postForm__item-input" type="text" placeholder="Article author"/>
            <p class="validation" *ngIf="showValidationError('author')">Field author is required!</p>
            <p class="validation" *ngIf="showValidationError('author', 'minlength')">Author field must be at least 4 characters long.</p>
        </div>
        <div class="postForm__item">
            <input formControlName="title" class="postForm__item-input" type="text" placeholder="Article title"/>
            <p class="validation" *ngIf="showValidationError('title')">Field title is required!</p>
            <p class="validation" *ngIf="showValidationError('title', 'minlength')">Title field must be at least 5 characters long.</p>
        </div>
        <div class="postForm__item">
            <input formControlName="content" class="postForm__item-input" type="text" placeholder="Article content"/>
            <p class="validation" *ngIf="showValidationError('content')">Field content is required!</p>
            <p class="validation" *ngIf="showValidationError('content', 'minlength')">Content field must be at least 10 characters long.</p>
        </div>
        <div class="postForm__item">
            <button type="submit" class="postForm__item-submit">Publish article</button>
        </div>
    </form>    
</div>
