<div data-target="#modal">
  <form class="postForm" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="postForm__item">
      <mat-form-field class="postForm__item-input" appearance="fill">
        <mat-label>Author</mat-label>
        <input
          matInput
          formControlName="author"
          placeholder="John Snow"
          required
        />
        <mat-error *ngIf="showValidationError('author', 'minlength')">
          Author field must be at least 4 characters long.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="postForm__item">
      <mat-form-field class="postForm__item-input" appearance="fill">
        <mat-label>Article title</mat-label>
        <input matInput formControlName="title" placeholder="title" required />
        <mat-error *ngIf="showValidationError('title', 'minlength')">
          Title field must be at least 5 characters long.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="postForm__item">
      <mat-form-field class="postForm__item-input" appearance="fill">
        <mat-label>Article content</mat-label>
        <textarea
          rows="8"
          matInput
          formControlName="content"
          placeholder="content"
          required
        ></textarea>
        <mat-error *ngIf="showValidationError('content', 'minlength')">
          Article content field must be at least 10 characters long.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="postForm__item">
      <button type="submit" mat-raised-button color="primary">
        Publish article
      </button>
    </div>
  </form>
</div>
