$base-header-color: #119930;
$base-header-size: 35px;
$base-header-weight: 500;

$base-sidebar-background: #b8b8b8;

$base-title-color: #119930;
$base-readmore-color: #807e7e;

$base-likes-color: #000000;
