@import "/src/styles/variables";

.post {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__author {
    display: flex;

    &-picture,
    &-name {
      margin: 10px;
    }

    &-name {
      letter-spacing: 1px;
      font-family: cursive;
      font-weight: bold;
      font-size: 25px;
      color: $base-title-color;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
  }

  &__date {
    margin: 10px;
    font-size: 13px;
  }

  &__content {
    font-size: 16px;
  }

  &__comments {
    width: 100%;
  }
}

.error {
  text-align: center;
  margin-top: 50px;
}

.comment {
  border: 0.5px solid;
  border-radius: 20px;
  margin: 15px 0;
  box-shadow: 5px 5px #919191;

  &__content {
    margin-left: 20px;
    font-family: "Candara";
    font-size: 18px;
  }
}
