@import "/src/styles/variables";

.post {
  max-width: 1200px;
  margin: 10px auto;

  &__container {
    width: 100%;
    border: 0.5px solid;
    border-radius: 20px;
    box-shadow: 5px 5px #919191;
    margin-bottom: 10px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__tags {
    margin: 1rem 0;

    &-item {
      border-radius: 20px;
      box-shadow: 5px 5px #919191;
    }
  }

  &__author {
    display: flex;

    &-picture,
    &-name {
      margin: 20px;
    }

    &-name {
      letter-spacing: 1px;
      font-family: cursive;
      font-weight: bold;
      font-size: 25px;
      color: $base-title-color;
    }
  }

  &__title {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
  }

  &__date {
    margin: 10px;
    font-size: 13px;
  }

  &__content {
    font-size: 16px;
  }

  &__comment {
    border: 0.5px solid;
    border-radius: 20px;
    box-shadow: 5px 5px #919191;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
}

.error {
  text-align: center;
  margin-top: 50px;
}

.comment {
  display: flex;

  &__author {
    display: flex;
    justify-content: space-between;

    &-picture {
      margin-right: 20px;
    }

    &-info {
      display: flex;
    }

    &-name {
      letter-spacing: 1px;
      font-family: cursive;
      font-weight: bold;
      font-size: 25px;
      color: $base-title-color;
    }
  }

  &__form {
    min-width: 200px;
    max-width: 1200px;
    width: 100%;
    margin-top: 20px;

    &-input {
      width: 100%;
    }
  }
}

.info {
  margin: 10px auto;
  text-align: center;
}

.post__tags {
  width: 40%;

  &-field {
    width: 100%;
  }
}