<mat-progress-bar
  *ngIf="!post && !notFound" color="primary" mode="indeterminate">
</mat-progress-bar>
<article *ngIf="post" class="post">
  <div class="post__header">
    <div class="post__author">
      <div class="post__author-picture">
        <img src="./assets/images/user-pic.png" alt="user-pic" width="50" />
      </div>
      <div class="post__author-info">
        <p class="post__author-name">{{ post.author }}</p>
        <p class="post__date">{{ post.createdAt | date: "longDate" }}</p>
      </div>
    </div>
  </div>
  <p class="post__title">{{ post.title }}</p>
  <p class="post__content">{{ post.content }}</p>
</article>
<div class="error" *ngIf="notFound">
  <h1>Error 404</h1>
  <p>Cannot find post by selected id.</p>
</div>
