<div data-target="#modal">
  <form class="postForm" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="postForm__item">
      <mat-form-field class="postForm__item-input" appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" placeholder="John Snow" />
        <mat-error *ngIf="!!showValidationError('author')">
          {{ showValidationError("author") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="postForm__item">
      <mat-form-field class="postForm__item-input" appearance="fill">
        <mat-label>Article title</mat-label>
        <input matInput formControlName="title" placeholder="title" />
        <mat-error *ngIf="!!showValidationError('title')">
          {{ showValidationError("title") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="postForm__item">
      <mat-form-field class="postForm__item-input" appearance="fill">
        <mat-label>Article content</mat-label>
        <textarea
          rows="8"
          matInput
          formControlName="content"
          placeholder="content"
        ></textarea>
        <mat-error *ngIf="!!showValidationError('content')">
          {{ showValidationError("content") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="postForm__item">
      <button type="submit" mat-raised-button color="primary">
        Publish article
      </button>
    </div>
  </form>
</div>
