<article *ngIf="post" class="post">
  <div class="post__header">
    <div class="post__author">
      <div class="post__author-picture">
        <img src="./assets/images/user-pic.png" alt="user-pic" width="50" />
      </div>
      <div class="post__author-info">
        <p class="post__author-name">{{ post.author }}</p>
        <p class="post__date">{{ post.createdAt | date: "longDate" }}</p>
      </div>
    </div>
    <div class="post__like">
      <mat-icon
        color="primary"
        [class.clicked]="toggle"
        (click)="likePost(post)"
        matBadge="{{ post.likes?.length }}"
        matBadgeColor="primary"
        matBadgeOverlap="false"
        matBadgeSize="medium"
        >favorite</mat-icon
      >
    </div>
  </div>
  <p class="post__title">{{ post.title }}</p>
  <p class="post__content">{{ post.content }}</p>
  <div class="post__content-additional">
    <a class="post__content-more" [routerLink]="['posts', post._id]">Read more...</a>
    <mat-icon matBadge="{{ post.comments ? post.comments.length : 0 }}" matBadgeColor="primary" matBadgeSize="medium">mode_comment</mat-icon>
  </div>
  <hr />
</article>
